<h1>Paypal Express NVP Sample</h1>

<h2>
    Authorize a payment
</h2>

<h3>
    Current cart:
</h3>
<table style="border: 1px solid black; width: 100%;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        {{#cart}}
        <tr>
            <td>{{name}}</td>
            <td>{{amount}}</td>
        </tr>
        {{/cart}}
    </tbody>
    <tfoot>
        <tr>
            <td>Total Sum:</td>
            <td>{{total}}</td>
        </tr>
    </tfoot>
</table>

<p>
    <a href="/authorize" style="background: #FBC159; border: 1px solid black; color: #0C3882; padding: 10px; margin: 10px 0;">
        Authorize PayPal
    </a>
</p>
